@keyframes sizeFlicker275 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(2.75); }
  100% {
    transform: scale(1); } }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes opacity-1-05 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes opacity-1-075 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

@keyframes width-075 {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.75, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes width-09 {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.9, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes width-09-2 {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: scale(0.9, 1); }
  50% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes width-115 {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.15, 1); }
  100% {
    transform: scale(1, 1); } }

@keyframes width-125 {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.25, 1); }
  100% {
    transform: scale(1, 1); } }

.font-style-normal {
  font-style: normal !important; }

.font-style-italic {
  font-style: italic !important; }

.font-weight-normal {
  font-weight: normal !important; }

.font-weight-medium {
  font-weight: 500 !important; }

.font-weight-bold {
  font-weight: bold !important; }

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.woff") format("woff"), url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Light.woff") format("woff"), url("./assets/fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Bold.woff") format("woff"), url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

html, body {
  height: 100%; }

body {
  font-family: 'Roboto', 'sans-serif';
  color: #000000;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  margin: 0; }
  body._frozen {
    overflow: hidden; }

#root {
  height: 100%;
  min-height: 100%; }
  #root > div {
    display: flex;
    height: 100%;
    min-height: 100%;
    flex-direction: column; }

ol {
  margin: 1em 0;
  padding-left: 20px; }
  ol li {
    margin: 1em 0; }

ul {
  margin: 1em 0;
  padding: 0; }
  ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: .5em; }

h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin: 0 0 1em 0;
  line-height: 1.4em; }

h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 1em 0 .5em; }

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 2em;
  letter-spacing: 0.1em;
  color: #263973;
  margin: 0 0 40px; }

a {
  text-decoration: none; }

.page {
  position: absolute;
  width: 100%;
  height: 100%; }

.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.1em;
  color: #000000; }

.step-wrapper {
  display: flex;
  position: absolute;
  top: 10vh;
  right: 2.6vw;
  z-index: 10; }

.step-title1 {
  display: inline-block;
  font-weight: 800;
  font-size: 21px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #263973; }
  @media (max-width: 1440px) {
    .step-title1 {
      font-size: 19px; } }
  .step-title1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 2px;
    background: #263973;
    margin-right: 32px; }

.step-title {
  display: inline-block;
  z-index: 10;
  font-weight: 800;
  font-size: 21px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.06em;
  color: #263973;
  margin-right: 32px; }
  @media (max-width: 1440px) {
    .step-title {
      font-size: 19px; } }

.step-title__details {
  position: absolute;
  top: 13vh;
  right: 2.6vw;
  z-index: 10;
  text-align: right;
  font-weight: 700;
  font-size: 10px;
  line-height: 19px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #263973;
  cursor: pointer;
  margin-top: 20px; }
  .step-title__details::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 121px;
    height: 1px;
    background: #263973;
    margin-right: 12px; }
  .step-title__details:hover {
    text-decoration: underline; }

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 464px;
  width: 105px;
  cursor: pointer;
  z-index: 10;
  transition: .3s; }
  @media (max-width: 1600px) {
    .arrow-btn {
      height: 260px;
      width: 60px; } }
  .arrow-btn_prev {
    background-image: url(./assets/img/backBg.jpg);
    left: 0; }
  .arrow-btn_next {
    background-image: url(./assets/img/forwardBg.jpg);
    right: 0; }
  .arrow-btn.hidden {
    opacity: 0; }
  .arrow-btn__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: .3s; }
    @media (max-width: 1600px) {
      .arrow-btn__arrow {
        transform: scale(0.8); } }
  .arrow-btn_prev .arrow-btn__arrow {
    right: -83px; }
  .arrow-btn_next .arrow-btn__arrow {
    left: -83px; }
  .arrow-btn_next .arrow-btn__arrow svg {
    transform: rotate(180deg); }
  .arrow-btn_prev:hover .arrow-btn__arrow {
    right: -73px; }
  .arrow-btn_next:hover .arrow-btn__arrow {
    left: -73px; }
  .arrow-btn_prev.hidden .arrow-btn__arrow {
    right: -110px; }
  .arrow-btn_next.hidden .arrow-btn__arrow {
    left: -110px; }
  .arrow-btn__text {
    position: absolute;
    top: 23px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000; }
  .arrow-btn_prev .arrow-btn__text {
    right: 0; }
  .arrow-btn_next .arrow-btn__text {
    left: 0; }
