@import '../../assets/scss/base/colors';

@mixin buttonSizeXs {
  height: 32px;
  padding: 4px 10px;
  font-size: 13px;
}

@mixin buttonSizeS {
  height: 40px;
  padding: 10px;
}

@mixin buttonSizeM {
  min-height: 65px;
  padding: 22px;
  font-weight: 700;
  font-size: 11px;
}

// @function button-size($breakpoint: $grid-breakpoints, $size) {
//   @return if($min != 0, $min, null);
// }

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: .3s;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.13em;

  &.size_xs {
    @include buttonSizeXs()
  }

  &.size_s {
    @include buttonSizeS()
  }

  &.size_m {
    @include buttonSizeM()
  }

  // @include media-breakpoint-up(sm) {
  //   &.sizeSm {
  //     &_s {
  //       @include buttonSizeS()
  //     }
  //     &_m {
  //       @include buttonSizeM()
  //     }
  //   }
  // }
  // @include media-breakpoint-up(md) {
  //   &.sizeMd {
  //     &_s {
  //       @include buttonSizeS()
  //     }
  //     &_m {
  //       @include buttonSizeM()
  //     }
  //   }
  // }
  // @include media-breakpoint-up(lg) {
  //   &.sizeLg {
  //     &_s {
  //       @include buttonSizeS()
  //     }
  //     &_m {
  //       @include buttonSizeM()
  //     }
  //   }
  // }
  // @include media-breakpoint-up(xl) {
  //   &.sizeXl {
  //     &_s {
  //       @include buttonSizeS()
  //     }
  //     &_m {
  //       @include buttonSizeM()
  //     }
  //   }
  // }
  // @include media-breakpoint-up(xxl) {
  //   &.sizeXxl {
  //     &_s {
  //       @include buttonSizeS()
  //     }
  //     &_m {
  //       @include buttonSizeM()
  //     }
  //   }
  // }

  &.theme_black {
    border: 1px solid #000;
    color: #000;
    background: transparent;
    &:hover {
      background: #2D74AD;
      border-color: #2D74AD;
      color: $white;
    }
    &:active {
      background: #1A588B;
      border-color: #1A588B;
      color: $white;
    }
  }

  

  &.disabled {
    color: #A7A7A7;
    border-color: #A7A7A7;
    outline: none;
    box-shadow: none !important;
    border: 0;
  }
  &:focus {
    outline: none;
  }
}

.preloader {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity .3s;
}
