@import "../../assets/scss/utils/grid.scss";


.menu {
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    

    &__stages {
        display: flex;
        width: 100%;
        justify-content: center;
        // max-width: 1920px;
        margin: 0 auto;
    }

    &__stage {
        display: block;
        flex: 1;
        margin-left: 2.5vw;
        transition: 0.5s all ease;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
        &:hover svg {
            left: 100%;
            right: 0;
        }
        svg {
            z-index: 1;
            position: absolute;
            bottom: -5px;
            right: 100%;
            left: 0;
            transition: 0.5s all ease;
            &:hover circle{
                cursor: pointer;
                fill: #2B60AF;
            }
        }
    }

    &__image__wrapper {
        width: 100%;
        height: 35vh;
        cursor: pointer;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        position: relative;
        img {
            position: absolute;
            width: 4vw;
            height: 4vw;
            max-height: 84px;
            max-width: 84px;
            top: 30px;
            right: 30px;
        }        
    }

    &__text {
        // width: 100%;
        height: 90px;
        text-align: center;
        // text
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-top: 30px;
        @include xxl {
            font-size: 13px;
        }
    }

    &__line {
        width: 100%;
        height: 6px;
        background: #2B60AF;
        position: relative;
        margin: 10px auto;
        
    }
}