@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/base/colors.scss";

.volume {
	display: flex;
	align-items: center;
	padding-left: 180px;

	&__btn {
		margin-right: 12px;
		cursor: pointer;
	}
	&__icon {
		.icon-volume__wave {
			opacity: 0;
		}
	}
	&__btn_on &__icon {
		.icon-volume__wave {
			opacity: 1;
		}
	}
	&__line {
		width: 170px;
		height: 6.71px;
		background: #C4C4C4;
		border-radius: 2.5px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: -20px;
			bottom: -20px;
			left: 0;
			right: 0;
		}
	}
	&__fill {
		height: 100%;
		width: 50%;
		background: $white;
		border-radius: 2.5px;
	}
}