@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/base/colors";
.throbber {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	transition: opacity 0.5s ease-in-out, z-index 0.5s linear 0.4s;
	background-color: transparent;
	z-index: 1;
	width: 205px;
	height: 205px;
	left: 50%;
	top: 43%;
	transform: translate(-50%, -50%);
	@include xxl {
		width: 150px;
		height: 150px;
	}
	
	&_video {
		top: 43%;
	}

	svg {
		opacity: .6;
		fill: $white;
		width: 100%;
		height: 100%
	}

	._loaded & {
		opacity: 0;
		z-index: -1;
	}
}