@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/base/colors.scss";

.modal-outer {
	background: inherit;
	background-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal {
	position: relative;
	transform-origin: top center;
	background: #fff;
	box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.25);
	transition: all .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	max-width: 1125px;
	padding: 70px 85px;
	box-sizing: border-box;
	max-height: 96vh;
	overflow: auto;

	.modal-transition-enter & {
	  opacity: 0;
	  transform: translate(0, -40px);
	}
	.modal-transition-enter-active & {
	  opacity: 1;
	  transform: translate(0, 0);
	}
	.modal-transition-exit & {
	  opacity: 1;
	  transform: translate(0, 0);
	}
	.modal-transition-exit-active & {
	  opacity: 0;
	  transform: translate(0, -40px);
	}

	.about-screen & {
		margin-left: -9%;
	}
	.mudline-screen & {
		margin-left: -7%;
	}
	.detail-screen & {
		margin-left: -7%;
	}
}

.modal__close {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 55px;
	top: 55px;
	border: 0.5px solid #000000;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.modal__stage-subtitle {
	font-weight: 700;
	font-size: 12px;
	line-height: 1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #686868;
	margin-bottom: 16px;

	& > span {
		color: $primary;
	}
}

.modal__link {
	font-weight: 900;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
	letter-spacing: 0.14em;
	text-align: right;
	padding-top: 93px;
}

.modal__link span {
	display: inline-block;
	margin-left: 30px;
}

.modal__subtext {
	font-weight: 600;
	margin-bottom: 40px;
}

.modal__row {
	display: flex;
	align-items: center;
}

.modal__col {
	flex: 0 0 50%;
	&_left {
		padding-right: 20px;
	}
	&_right {
		padding-left: 20px;
	}
	& > img {
		max-width: 100%;
	}
}
