.aes {
  position: relative;
  display: flex;
  justify-content: center; }

.aes__svg {
  max-width: 100%;
  width: 95%;
  margin-top: -115px; }

.aes__svg * {
  transition: opacity .3s;
  position: relative;
  z-index: 0; }

.aes__svg .trigger {
  position: relative;
  z-index: 2; }
