.header {
  display: flex;
  align-items: center;
  height: 88px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #DBDBDB;
  background: #ffffff; }
  @media (max-width: 1600px) {
    .header {
      height: 56px; } }

.header__logo {
  flex: 0 0 179px;
  padding-left: 50px; }
  @media (max-width: 1600px) {
    .header__logo {
      padding-left: 20px; } }
  .header__logo img {
    width: 129px; }
    @media (max-width: 1600px) {
      .header__logo img {
        width: 100px; } }

.header__middle {
  flex: 1 1 100%;
  padding-left: 178px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase; }
  @media (max-width: 1600px) {
    .header__middle {
      font-size: 16px; } }

.header__menu {
  flex: 0 0 321px; }
  @media (max-width: 1600px) {
    .header__menu {
      flex: 0 0 280px; } }

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  background: #4EA4D9;
  color: #ffffff;
  transition: .3s; }
  @media (max-width: 1600px) {
    .menu-btn {
      height: 56px;
      font-size: 10px; } }
  .menu-btn:hover {
    background: #2D74AD; }
  .menu-btn:active {
    background: #1A588B; }
  .menu-btn > svg {
    margin-left: 30px; }
