@import "../../assets/scss/utils/grid.scss";
@import '../../assets/scss/base/colors';

.header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #DBDBDB;
    background: $white;
    @include xxl {
        height: 56px;
    }
}

.header__logo {
    width: 160px;
    padding-left: 2.5vw;
    & img {
        width: 160px;
    }
}


.header__menu {
    flex: 0 0 320px;
    // cursor: pointer;
    @include xxl {
        flex:  0 0 280px;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: #4EA4D9;
    transition: .3s;
    align-items: center;


    // text
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: $white;
    @include xxl {
        height: 56px;
        font-size: 10px;
    }

    &:hover {
        background: #2D74AD;
    }

    &:active {
        background: #1A588B;
    }

    // & > svg {
    //     margin-left: 30px;
    // }
}