@import "../../assets/scss/utils/grid.scss";
@import '../../assets/scss/base/colors';

.header {
    display: flex;
    align-items: center;
    height: 88px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #DBDBDB;
    background: $white;
    @include xxl {
        height: 56px;
    }
}

.header__logo {
    flex: 0 0 179px;
    padding-left: 2.5vw;

    & img {
        width: 160px;
    }
}

.header__middle {
    flex: 1 1 100%;
    padding-left: 11vw;
    // text
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    @include xxl {
        font-size: 16px;
    }
}

.header__menu {
    flex: 0 0 321px;
    @include xxl {
        flex:  0 0 280px;
    }
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    background: #4EA4D9;
    transition: .3s;
    align-items: center;


    // text
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: $white;
    @include xxl {
        height: 56px;
        font-size: 10px;
    }

    &:hover {
        background: #2D74AD;
    }

    &:active {
        background: #1A588B;
    }

    & > svg {
        margin-left: 30px;
    }
}