@import "../../assets/scss/utils/grid.scss";


.structure {
    width: 100%;
    position: relative;

    &__title {
        font-weight: 300;
        font-size: 40px;
        line-height: 53px;
        letter-spacing: 0.1em;
        color: #263973;
        margin-bottom: 70px;
        @include xxl {
            font-size: 27px;
            line-height: 1.2em;
            margin-bottom: 30px;
        }
    }

    &__stages {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    &__stage {
        flex: 1;
        margin-left: 40px;
        transition: 0.3s all ease-in;
        svg {
            z-index: 1;
            position: absolute;
            &:hover circle{
                cursor: pointer;
                fill: #2B60AF;
            }
        }
    }

    &__image__wrapper {
        width: 100%;
        height: 35vh;
        cursor: pointer;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        position: relative;
        img {
            position: absolute;
            width: 84px;
            height: 84px;
            top: 30px;
            right: 30px;
        }        
    }

    &__text {
        width: 100%;
        height: 70px;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        color: #949494;
        margin-top: 30px;
        @include xxl {
            font-size: 14px;
        }
    }

    &__line {
        width: 100%;
        max-width: 1920px;
        height: 6px;
        background: #2B60AF;
        position: relative;
        margin: 0 auto;
        svg {
            z-index: 1;
            position: absolute;
            bottom: -5px;
            right: 0;
            &:hover circle{
                cursor: pointer;
                fill: #2B60AF;
            }
        }
    }
    
    &__logos {
        padding-top: 50px;
        display: flex;
        align-items: center;
        position: relative;
        @include xxl {
            padding-top: 30px;
        }
        & > svg {
            position: absolute;
            top: 0;
            left: 0;
            stroke: #767676;
        }
        & > div {
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-weight: 800;
            font-size: 14px;
            line-height: 29px;
            letter-spacing: 0.1em;
            color: #767676;

            &._text {
                padding-left: 30px;
            }
        }
    }
    // Класс активности
    & .active {
        flex: 2.6;
        .structure__text {
            font-size: 23px;
            color: #000000;
        }
        svg circle{
            fill: #2B60AF;
        }
    }
}