.structure {
  padding: 0px 0px 30px; }
  .structure__stages {
    display: flex;
    justify-content: center; }
  .structure__stage {
    padding: 0 25px;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #263973; }
    @media (max-width: 1600px) {
      .structure__stage {
        font-size: 14px;
        padding: 0 12px; } }
    .structure__stage_3 {
      padding-top: 13px; }
  .structure__mid {
    width: 312px;
    height: 68px;
    background-size: contain;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    @media (max-width: 1600px) {
      .structure__mid {
        width: 200px; } }
    .structure__mid::before, .structure__mid::after {
      content: '';
      width: 130px;
      height: 3px;
      background: #CACACA; }
      @media (max-width: 1600px) {
        .structure__mid::before, .structure__mid::after {
          width: 80px;
          height: 2px; } }
    .structure__mid i {
      width: 13px;
      height: 13px;
      border-radius: 13px;
      background: #FFFFFF;
      border: 5px solid #263973; }
      @media (max-width: 1600px) {
        .structure__mid i {
          width: 9px;
          height: 9px;
          border-width: 4px; } }
    .structure__mid img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: structure-rotate infinite 10s linear; }
      @media (max-width: 1600px) {
        .structure__mid img {
          width: 38px; } }
  .structure__stage_3 .structure__logos {
    padding-top: 60px; }
    @media (max-width: 1600px) {
      .structure__stage_3 .structure__logos {
        padding-top: 40px; } }
  .structure__logos {
    padding-top: 50px;
    display: flex;
    align-items: center; }
    @media (max-width: 1600px) {
      .structure__logos {
        padding-top: 30px; } }
    .structure__logos > div {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-weight: 800;
      font-size: 14px;
      line-height: 29px;
      letter-spacing: 0.1em;
      color: #767676; }
      .structure__logos > div._text {
        padding-left: 30px; }
  .structure__partners {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 140px;
    padding-top: 40px;
    position: relative; }
    @media (max-width: 1600px) {
      .structure__partners {
        margin-top: 100px; } }
    .structure__partners-inner {
      transition: .4s;
      position: relative; }
  .structure__arrow {
    height: 40px;
    width: 133px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    cursor: pointer; }
    @media (max-width: 1600px) {
      .structure__arrow {
        width: 100px; }
        .structure__arrow svg {
          width: 100px; } }
    .structure__arrow.prev {
      left: 0; }
    .structure__arrow.next {
      right: 0; }
      .structure__arrow.next > svg {
        transform: rotate(180deg); }

.structure__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.1em;
  color: #263973;
  margin-bottom: 180px; }
  @media (max-width: 1600px) {
    .structure__title {
      font-size: 27px;
      line-height: 1.2em;
      margin-bottom: 100px; } }

@keyframes structure-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(-360deg); } }
