.video {
  margin: 0 auto; }

.vimeo-player {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%; }

.vimeo-player-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
