@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/base/colors.scss";

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.footer__inner {
    display: flex;
    height: 99px;
    padding: 0 50px;
    align-items: flex-start;
    @include xxl {
        height: 70px;
        padding: 0 30px;
    }
}
.footer__btns {
    flex: 0 0 65px;
    margin-right: 40px;
    @include xxl {
        flex: 0 0 80px;
        margin-right: 30px;
    }
}
.footer__btns .button {
    width: 65px;
    @include xxl {
        width: 40px;

        & svg {
            width: 16px;
        }
    }
}

.footer__content {
    flex: 1 1 100%;
    display: flex;
}

.footer__middle {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// .footer_home .footer__left {
//     flex: 0 0 70%;
// }
.footer__right {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
// .footer_home .footer__right {
//     flex: 0 0 30%;
// }

.footer__pagebutton {
    width: 276px;
    @include xxl {
        // width: 276px;
    }


    &._next {
        position: relative;
        & svg {
            position: absolute;
            right: 28px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #ffffff;
            top: 0;
            right: 65px;
            z-index: 1;
        }
    }
    &._prev {
        position: relative;
        & svg {
            position: absolute;
            left: 28px;
            transform: rotate(180deg);
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #ffffff;
            top: 0;
            left: 65px;
            z-index: 1;
        }
    }
    &._middle {
        margin: 0 22px;
    }
}







.footer__volume-btn {
    width: 65px;
    position: absolute;
    bottom: 34px;
    left: 50px;
    z-index: 11;
    @include xxl {
        width: 40px;
        left: 69px;
        bottom: 30px;
    }
}

.volume-btn {
    position: relative;

    &.muted::after {
        content: '';
        width: 14px;
        height: 1px;
        background: #000;
        transform: rotate(130deg);
        position: absolute;
        top: 31px;
        left: 22px;

        @include xxl {
            top: 18px;
            left: 9px;
        }
    }
    &.muted:hover::after {
        background: #fff;
    }
}
