@import "../../assets/scss/utils/grid.scss";
@import "../../assets/scss/base/colors.scss";

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.footer__inner {
    display: flex;
    height: 99px;
    padding: 0 50px;
    align-items: flex-start;
}
.footer__btns {
    flex: 0 0 65px;
    margin-right: 40px;
}
.footer__btns .button {
    width: 65px;
}

.footer__content {
    flex: 1 1 100%;
    display: flex;
}

.footer__left {
    flex: 0 0 30%;
    display: flex;
}
.footer__right {
    flex: 0 0 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__btn-structure {
    max-width: 324px;
}
.footer__btn-steps {
    max-width: 424px;
    margin-left: -1px;
}

.footer__pagebuttons {
    display: flex;
    align-items: center;
}
.footer__pagebutton {
    width: 65px;

    &._next {
        margin-left: -1px;
    }
    &._prev > button > svg {
        transform: rotate(180deg);
    }
}

.footer__links {
    padding-right: 60px;
}
.footer__link {
    font-weight: 900;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
	letter-spacing: 0.14em;
	text-align: right;
}
.footer__link span {
	display: inline-block;
	margin-left: 30px;
}
.footer__title {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.17em;
    color: #767676;
    margin-bottom: 27px;

    & > b {
        color: $primary;
        display: inline-block;
        margin-left: 40px;
    }
}


