.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 160px;
    z-index: 10;
    padding: 0 50px;
}
.footer__btns {
    flex: 0 0 129px;
}
.footer__content {
    flex: 1 1 100%;
    display: flex;
}

.footer__left {
    flex: 0 0 50%;
}
.footer__right {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-end;
}

.footer__btn-structure {
    max-width: 324px;
}
.footer__btn-steps {
    max-width: 424px;
    margin-left: -1px;
}