.map {
  padding: 90px 50px; }

.map__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.1em;
  color: #263973;
  margin-bottom: 114px; }

.map__line {
  border-top: 3px solid #263973;
  position: relative;
  margin-left: 30px; }

.map__step {
  position: absolute;
  top: 0;
  display: block; }

.map__point {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: 4px solid #263973;
  background: #fff;
  position: relative;
  top: -9px;
  transition: .3s; }
  .map__point_final {
    background: #263973; }

.map__step:hover .map__point {
  background: #263973; }

.map__step-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #263973;
  position: relative;
  top: -60px; }

.map__step-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #A7A7A7;
  max-width: 200px;
  margin-top: -8px;
  transition: .3s; }
  .map__step-desc_bottom {
    padding-top: 90px; }
  .map__step-desc_final {
    position: relative;
    width: 220px;
    max-width: 220px;
    left: -209px;
    text-align: right; }
  .map__step-desc > div {
    color: #263973;
    padding-top: 12px; }

.map__step:hover .map__step-desc {
  color: #263973; }

.map__stage {
  position: absolute;
  top: -18px;
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D0D0D0;
  transform: rotate(-90deg);
  transform-origin: 0% 50%;
  background: #fff;
  padding-bottom: 12px;
  padding-top: 2px; }
  .map__stage > b {
    color: #263973; }

.map__stagetitles {
  position: relative;
  padding-bottom: 204px;
  margin: 0 4px; }

.map__stagetitle {
  position: absolute;
  top: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #263973;
  white-space: nowrap; }
  .map__stagetitle > div {
    margin-bottom: 15px; }

.stage-button {
  height: 46px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(196, 196, 196, 0.6);
  box-sizing: border-box;
  border-radius: 104px;
  font-weight: 900;
  font-size: 9px;
  line-height: 28px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000;
  padding: 10px 30px;
  cursor: pointer; }
