@import '../../assets/scss/base/colors';
@import "../../assets/scss/utils/grid.scss";


.a0 svg circle{
    stroke: #4EA4D9;
}
.a svg circle{
    stroke: #22952E;
}
.b svg circle{
    stroke: #70A1E9;
}
.v svg circle{
    stroke: #5874C8;
}
.g svg circle{
    stroke: #621F97;
}
.page {
    position: absolute;
    width: 100%;
	height: 100%;
}

.map__title {
    margin-top: 89px;
    padding-top: 55px;
    padding-left: 15.5vw;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 40px;
    // line-height: 53px;
    letter-spacing: 0.1em;
    color: #263973;
    @include xxl {
        font-size: 27px;
        padding-top: 0px;
        padding-bottom: 35px;
    }
}
// Обертка слайда
// Обертка img
.map__slide {
    display: flex;
    position: relative;
    width: 68vw;
    height: 36vh;
    &__image {
        transition: all 1s ease;
        align-self: flex-end;
        cursor: pointer;
        &:hover { 
          transform: scale(1.025);
        }
    }
    &__icon {
        position: absolute;
        width: 84px;
        height: 84px;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
}
// СТРЕЛКИ 
// Левая стрелка
.navigation_prev_arrow {
    position: absolute;
    top: 19vh;
    left: 2.5vw;
    width: 134px;
    height: 94px;
    &::after {
      display: none;
    }
    svg {
      transform: rotate(180deg);
    }
    svg:hover path {
    stroke: #2D74AD;
    }
    svg:active path {
    stroke: #1A588B;
    }
}
// // Правая стрелка
.navigation_next_arrow {
    position: absolute;
    top: 19vh;
    right: 2.5vw;
    width: 134px;
    height: 94px;
    &::after {
      display: none;
    }
    svg:hover path {
    stroke: #2D74AD;
    }
    svg:active path {
    stroke: #1A588B;
    }
}


// Обертка Этап + Текст + Подробнее
.event {
    display: flex;
    justify-content: flex-start;
    width: 1300px;
    height: 60px;
    margin-top: 35px;
    // Этап 0
    &__number {
        font-weight: 900;
        font-size: 60px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.1em;
        margin-right: 45px;
    }
    // Подготовительный этап
    &__title {
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 13px;
        cursor: pointer;
        &:hover {
            color: #1A588B;
          }
          &:active {
            color: #263973;
          }
    }
    // Подробнее
    &__moreinfo {
        position: relative;
        margin-left: 130px;
        display: block;
        width: 203px;
        height: 19px;
        cursor: pointer;
        /* text */
        font-weight: 700;
        font-size: 10px;
        line-height: 19px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #000000;
        &:hover {
            color: #1A588B;
            &:before {
                background-color: #1A588B;
            }
        }
        &:active {
            color: #263973;
            &:before {
                background-color: #263973;
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 120px;
            height: 1px;
            background-color: #000000;
            bottom: 5px;
            left: -130px;
        }
    }
}

.line {
    // position: relative;
    margin-top: 50px;
    width: 77vw;
    height: 6px;
    &__etap {
        position: absolute;
        left: -95px;
        bottom: 93px;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.1em;
        &__prev {
            position: absolute;
            left: -200px;
            bottom: 93px;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 0.1em;
            // color: #4EA4D9;
            &__before {
                display: block;
                position: absolute;
                width: 33px;
                height: 3px;
                // background-color: #4EA4D9;
                bottom: 9px;
                left: -40px;
            }
        }
        &__next {
            position: absolute;
            left: 78vw;
            bottom: 93px;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 0.1em;
            white-space: nowrap;
            // color: #263973;
            &__before {
                display: block;
                position: absolute;
                width: 33px;
                height: 3px;
                // background-color: #263973;
                bottom: 9px;
                left: 80px;
            }
        }
    }
    &__number {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__event__wrapper {
        display: flex;
        justify-content: flex-start;
        width: 77vw;
        height: 100px;
    }
    &__event {
        margin-top: -11px;
        cursor: pointer;
        // width: 25%;
        &:hover .a0 svg circle {
            transition: 0.3s all linear;
            fill: #4EA4D9;
        }
        &:hover .a svg circle {
            transition: 0.3s all linear;
            fill: #22952E;
        }
        &:hover .b svg circle {
            transition: 0.3s all linear;
            fill: #70A1E9;
        }
        &:hover .v svg circle {
            transition: 0.3s all linear;
            fill: #5874C8;
        }
        &:hover .g svg circle {
            transition: 0.3s all linear;
            fill: #621F97;
        }
    }
    &__event__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #000000;
    }
    &__event__name {
        font-weight: 900;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}